body {
    background-color: rgb(166, 25, 46);
}

table,
td,
th {
    border: 1px solid black;
}

table {
    width: 950px !important;
    border-collapse: collapse;
    margin-left: 25px;
}

th {
    background-color: rgb(188, 191, 194)
}

header {
    width: 100%;
    height: 30px;
}

footer {
    width: 1500px;
    height: 50px;
    margin-left: 200px;
}

h1 {
    margin-top: 80px;
    margin-left: 50px;
}

.tip {
    background-color: rgb(112, 112, 112);
}

.ourter-card {
    width: 1500px;
    height: 850px;
    background-color: rgb(255, 255, 255);
    margin-left: 200px;
}

.inner-card {
    width: 1000px;
    height: 600px;
    background-color: rgb(233, 239, 241);
    margin-top: 50px;
    margin-left: 50px;
}